<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-6 col-sm-12">
      <div class="row">
        <mat-form-field>
          <mat-label>Choose a Month!</mat-label>
          <mat-select (selectionChange)="onChange($event)" [(value)]="selectedMonthIdx" >
            <mat-option
              *ngFor="let month of calendarData; index as i"
              [value]="i"
              >{{ month.name }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>

  <div
    class="d-flex flex-row flex-wrap gap-3 p-2 justify-content-center text-center">
    <app-calendar-box
      *ngFor="let day of selectedMonth.days"
      [day]="day"
      class="p-2 calendar-day box"
      [style.flexBasis.%]="100 / 7"
      matTooltip="{{ day.date }}"></app-calendar-box>
  </div>
</div>
