<loader></loader>
<ng-container *ngIf="!(loaderService.globalSpinner$ | async)">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6">
        <div class="row">
          <div class="col-sm-12 col-lg-2">
            <button (click)="back()">Go->back</button>
          </div>
        </div>
        <div class="row justify-content-center food-box">
          <div *ngIf="foods.length > 0" class="col-md-6 col-xs-12">
            <div class="food-box">
              <app-food-card
                *ngFor="let food of currentFoodsStorage.currentFoods"
                [food]="food"></app-food-card>
            </div>
          </div>
          <div
            *ngIf="
              currentFoodsStorage.currentFoods &&
              currentFoodsStorage.currentFoods.length === 0
            ">
            No food available.
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-lg-4">
        <app-create-food></app-create-food>
      </div>
    </div>
  </div>
  <div *ngIf="foods.length > 0">
    <paginator [foods]="foods"></paginator>
  </div>
</ng-container>
