.food-row {
    background-color: rgb(185, 185, 185);
    padding: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    border-radius: 1rem;
}
.container-fluid {
    min-height: 50rem;
    min-width: 80vw;
}
