<app-header></app-header>
<div class="container-fluid">
  <mat-divider></mat-divider>
  <div class="row">
    <div class="col-xs-12">
      <h1>Welcome</h1>
    </div>
  </div>
  <mat-divider class="pb-2"></mat-divider>
  <div class="row text-center">
    <h2>This is the foodIdes main page!</h2>
    <p>I made this page to generate different food each week for every user!</p>
    <!-- <div class="col-lg-6">
            <mat-card class="demo-inline-calendar-card">
                <mat-calendar [(selected)]="selected"></mat-calendar>
            </mat-card>
            <p>Selected date: {{ selected }}</p>
        </div> -->
  </div>
</div>
