<div class="container-fluid p-5">
  <div class="row">
    <h3>Settings</h3>
  </div>
  <mat-divider class="pb-3"></mat-divider>
  <form [formGroup]="settingsForm" (ngSubmit)="onSubmit()">
    <div class="row py-2">
      <div class="row">
        <label class="form-label">E-mail:</label>
        <input
          class="form-control"
          type="email"
          name="email"
          formControlName="email" />
      </div>
      <div class="row">
        <label class="form-label">Password: </label>
        <input
          class="form-control"
          type="password"
          name="password"
          formControlName="password"
          minlength="6" />
      </div>
    </div>
    <div class="row py-3">
      <mat-accordion formGroupName="userInformation">
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title> Személyes adatok: </mat-panel-title>
            <mat-panel-description>
              Lakcím, Telefonszám, Születési év...
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="row">
            <label>Nickname: </label>
            <input
              class="form-control"
              type="text"
              name="nickName"
              formControlName="nickName" />
          </div>
          <div class="row">
            <label class="form-label">Address: </label>
            <input class="form-control" type="text" formControlName="address" />
          </div>
          <div class="row">
            <label>Phone number: </label>
            <input
              class="form-control"
              type="tel"
              name="phoneNumber"
              formControlName="phone" />
          </div>
          <div class="row">
            <label>Birth: </label>
            <input
              class="form-control"
              type="date"
              name="birth"
              formControlName="birth" />
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div class="row">
      <div class="col-xs-12 col-lg-6">
        <button
          class="btn btn-success"
          [disabled]="!formChanged || !settingsForm.valid"
          type="submit">
          Save
        </button>
      </div>
    </div>
  </form>
</div>
